/* GENERAL ------------------------------------------------------------*/

body{
	background: #0d0d0d url(../img/black/bg.jpg) repeat-x top center;
	color: #CCC;
}

div#content{}

a{
	color: #e2e6e7;
}

ul#portfolio-filter{
	background: #1f1f1f;
}

.sub-header{
	color: #999;
	border-bottom: 1px solid #999;
}

/* SIDEBAR ------------------------------------------------------*/

#sidebar a{
	color: #e2e6e7;
}

#sidebar li h2{
	color: #e2e6e7;
}

#sidebar li.sidemenu ul li a{
	color: #e2e6e7;
}

#sidebar li.sidemenu ul li{
	border-bottom: 1px solid #304149;
}

/* POSTS ------------------------------------------------------*/

.post .post-title,
.post .post-title,
.full-width .post .post-title,
.full-width.post .post-title{
	color: #0a1721;
}


/* COMMENTS LIST ------------------------------------------------------*/

.comments-list li:nth-child(odd){
	background: #1f1f1f;
}


/* FOOTER ------------------------------------------------------------*/

div#footer{
	background: url(../img/black/bg-footer.png) repeat-x;
}

div#footer ul.footer-cols li.col ul li a{
	color: #5a5a5a;
}

div#footer ul.footer-cols li.col h6{
	color: #e8e8e8;
}